{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-product" role="tab"
            aria-controls="nav-home" aria-selected="true">Product</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-customer" role="tab"
            aria-controls="nav-profile" aria-selected="false">Customer</a>
    </div>
</nav>
<div class="tab-content p-3 bg-white" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
        <form action="" method="post">
            {% csrf_token %}
            {{formProduct}}
            <button type="submit" class="btn btn-outline-success"><i class="fa fa-cheese fa-fw"></i> Save</button>
        </form>
    </div>
    <div class="tab-pane fade" id="nav-customer" role="tabpanel" aria-labelledby="nav-customer-tab">
        <form action="" method="post">
            {% csrf_token %}
            {{formCustomer | crispy}}
            <button type="submit" class="btn btn-outline-success"><i class="fa fa-user fa-fw"></i> Save</button>
        </form>
    </div>
</div>
{% endblock %}