{% extends 'accounts/main.html' %} {% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card-body">
      <div class="form-group">
        <label>Select a customer</label>
        <select type="text" class="form-control" id="customers">
          {% for customer in customers %}
          <option value="{{customer.id}}">
            {{customer.name}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="box-element mb-2">
        <div style="display: flex;">
          <form class="form-inline" action="" method="GET">
            {{ productFilter.form | crispy }}
            <button type="submit" class="btn btn-info ml-2">Search</button>
          </form>
        </div>
      </div>
      <div class="box-element">
        <div class="cart-row">
          <div style="flex: 2"><strong>Product</strong></div>
          <div style="flex: 1"><strong>Price</strong></div>
          <div style="flex: 1"></div>
        </div>

        {% for product in products %}
        <div class="cart-row">
          <div style="flex: 2">{{product.name | title}}</div>
          <div style="flex: 1">${{product.price | floatformat:2}}</div>
          <div style="flex: 1">
            <a href="#" data-product="{{product.id}}" data-action="add"
              class="btn btn-outline-secondary add-btn btn-sm update-cart"><i class="fa fa-plus"></i></a>
          </div>
        </div>
        {% endfor %}

        {% if products.has_other_pages %}
        <ul class="pagination">
          {% if products.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#"><span>&laquo;</span></a>
          </li>
          {% endif %}
          {% for i in products.paginator.page_range %}
          {% if products.number == i %}
          <li class="active page-item">
            <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if products.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#"><span>&raquo;</span></a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}